In [1]:
import arcpy
from arcpy import env  
from arcpy.sa import *
import pandas as pd
import numpy as np
import random

In [12]:

# URL construction with the provided date range

input_date = input("Enter the date (YYYY-MM-DD): ")
input_date_parts = input_date.split("-")
input_year = input_date_parts[0]
input_month = input_date_parts[1]
input_day = input_date_parts[2]
url = f"https://mesonet.agron.iastate.edu/request/coop/obs-dl.php?network=MN_COOP&station%5B%5D=ADAM5&station%5B%5D=AGAM5&station%5B%5D=ATKM5&station%5B%5D=AITM5&station%5B%5D=ALBM5&station%5B%5D=ALXM5&station%5B%5D=AXNM5&station%5B%5D=ALTM5&station%5B%5D=AMBM5&station%5B%5D=ADVM5&station%5B%5D=AGYM5&station%5B%5D=ARTM5&station%5B%5D=ASNM5&station%5B%5D=ASTM5&station%5B%5D=BABM5&station%5B%5D=BAUM5&station%5B%5D=SRLM5&station%5B%5D=BJIM5&station%5B%5D=BSNM5&station%5B%5D=BENM5&station%5B%5D=BGFM5&station%5B%5D=BDIM5&station%5B%5D=BLDM5&station%5B%5D=BTHM5&station%5B%5D=BRAM5&station%5B%5D=BMBM5&station%5B%5D=BKKM5&station%5B%5D=BKEM5&station%5B%5D=BRCM5&station%5B%5D=BRMM5&station%5B%5D=BRVM5&station%5B%5D=BWNM5&station%5B%5D=BRUM5&station%5B%5D=BUFM5&station%5B%5D=BYRM5&station%5B%5D=CLDM5&station%5B%5D=CMBM5&station%5B%5D=RLWM5&station%5B%5D=CANM5&station%5B%5D=CFAM5&station%5B%5D=CLSM5&station%5B%5D=CSLM5&station%5B%5D=MPXM5&station%5B%5D=CHKM5&station%5B%5D=CLQM5&station%5B%5D=CLGM5&station%5B%5D=COKM5&station%5B%5D=COTM5&station%5B%5D=CRKM5&station%5B%5D=CRNM5&station%5B%5D=DSLM5&station%5B%5D=DWSM5&station%5B%5D=DAWM5&station%5B%5D=DLNM5&station%5B%5D=DELM5&station%5B%5D=DTRM5&station%5B%5D=OSGM5&station%5B%5D=MMLM5&station%5B%5D=TWEM5&station%5B%5D=DDGM5&station%5B%5D=EGNM5&station%5B%5D=ELKM5&station%5B%5D=ERVM5&station%5B%5D=BNDM5&station%5B%5D=ELYM5&station%5B%5D=EMBM5&station%5B%5D=ELVM5&station%5B%5D=FIRM5&station%5B%5D=FRBM5&station%5B%5D=FBTM5&station%5B%5D=ZMPM5&station%5B%5D=FEDM5&station%5B%5D=FRFM5&station%5B%5D=FLDM5&station%5B%5D=FORM5&station%5B%5D=FSSM5&station%5B%5D=GLDM5&station%5B%5D=GEOM5&station%5B%5D=GWDM5&station%5B%5D=GLWM5&station%5B%5D=GMRM5&station%5B%5D=GMDM5&station%5B%5D=GDPM5&station%5B%5D=GRBM5&station%5B%5D=GRTM5&station%5B%5D=GBHM5&station%5B%5D=GLLM5&station%5B%5D=GNFM5&station%5B%5D=HLSM5&station%5B%5D=HAMM5&station%5B%5D=HMYM5&station%5B%5D=HSTM5&station%5B%5D=HAWM5&station%5B%5D=HIGM5&station%5B%5D=HOKM5&station%5B%5D=HKHM5&station%5B%5D=AGGM5&station%5B%5D=HCSM5&station%5B%5D=ILGM5&station%5B%5D=TETM5&station%5B%5D=INDM5&station%5B%5D=IFSM5&station%5B%5D=IBLM5&station%5B%5D=ILIM5&station%5B%5D=ISEM5&station%5B%5D=JDNM5&station%5B%5D=JORM5&station%5B%5D=KABM5&station%5B%5D=KLLM5&station%5B%5D=KETM5&station%5B%5D=KIMM5&station%5B%5D=MRAM5&station%5B%5D=VADM5&station%5B%5D=LAKM5&station%5B%5D=LKFM5&station%5B%5D=LKWM5&station%5B%5D=LAMM5&station%5B%5D=LMBM5&station%5B%5D=LNCM5&station%5B%5D=LNBM5&station%5B%5D=LBOM5&station%5B%5D=LSTM5&station%5B%5D=LCHM5&station%5B%5D=LTFM5&station%5B%5D=LFKM5&station%5B%5D=LNGM5&station%5B%5D=LUVM5&station%5B%5D=MABM5&station%5B%5D=MADM5&station%5B%5D=MHNM5&station%5B%5D=MTOM5&station%5B%5D=MWDM5&station%5B%5D=MLRM5&station%5B%5D=TLRM5&station%5B%5D=MLCM5&station%5B%5D=MLNM5&station%5B%5D=MIAM5&station%5B%5D=MNNM5&station%5B%5D=MSCM5&station%5B%5D=HENM5&station%5B%5D=BLHM5&station%5B%5D=LCRM5&station%5B%5D=LSAM5&station%5B%5D=RDWM5&station%5B%5D=MVOM5&station%5B%5D=MVDM5&station%5B%5D=MGMM5&station%5B%5D=MORM5&station%5B%5D=MOOM5&station%5B%5D=MRRM5&station%5B%5D=NHPM5&station%5B%5D=NUMM5&station%5B%5D=NYMM5&station%5B%5D=NISM5&station%5B%5D=NMAM5&station%5B%5D=NOHM5&station%5B%5D=OLVM5&station%5B%5D=ONMM5&station%5B%5D=LEIM5&station%5B%5D=ORVM5&station%5B%5D=ORWM5&station%5B%5D=OTTM5&station%5B%5D=OWAM5&station%5B%5D=PRPM5&station%5B%5D=PELM5&station%5B%5D=PRLM5&station%5B%5D=CRLM5&station%5B%5D=PIPM5&station%5B%5D=PKGM5&station%5B%5D=RIAM5&station%5B%5D=RWGM5&station%5B%5D=RWDM5&station%5B%5D=REWM5&station%5B%5D=RCEM5&station%5B%5D=RCHM5&station%5B%5D=RSRM5&station%5B%5D=RFDM5&station%5B%5D=HOUM5&station%5B%5D=ROSM5&station%5B%5D=RSMM5&station%5B%5D=RHSM5&station%5B%5D=RUDM5&station%5B%5D=SABM5&station%5B%5D=SBNM5&station%5B%5D=STJM5&station%5B%5D=SNDM5&station%5B%5D=SDYM5&station%5B%5D=SATM5&station%5B%5D=LKBM5&station%5B%5D=SEBM5&station%5B%5D=SHRM5&station%5B%5D=SILM5&station%5B%5D=ALVM5&station%5B%5D=PTNM5&station%5B%5D=SPFM5&station%5B%5D=SFDM5&station%5B%5D=SPRM5&station%5B%5D=SPKM5&station%5B%5D=SPGM5&station%5B%5D=SFSM5&station%5B%5D=STIM5&station%5B%5D=SNTM5&station%5B%5D=SPEM5&station%5B%5D=SPTM5&station%5B%5D=TWRM5&station%5B%5D=THLM5&station%5B%5D=THFM5&station%5B%5D=THRM5&station%5B%5D=TOGM5&station%5B%5D=TOWM5&station%5B%5D=TCYM5&station%5B%5D=TWOM5&station%5B%5D=TOHM5&station%5B%5D=HLLM5&station%5B%5D=ITAM5&station%5B%5D=UMNM5&station%5B%5D=GRPM5&station%5B%5D=VESM5&station%5B%5D=VCTM5&station%5B%5D=WABM5&station%5B%5D=WSBM5&station%5B%5D=WADM5&station%5B%5D=WALM5&station%5B%5D=WAKM5&station%5B%5D=WAAM5&station%5B%5D=AASM5&station%5B%5D=WARM5&station%5B%5D=WRRM5&station%5B%5D=WRUM5&station%5B%5D=WASM5&station%5B%5D=WSKM5&station%5B%5D=GRDM5&station%5B%5D=WTSM5&station%5B%5D=WELM5&station%5B%5D=WHTM5&station%5B%5D=WLDM5&station%5B%5D=WMRM5&station%5B%5D=WDOM5&station%5B%5D=WNNM5&station%5B%5D=WINM5&station%5B%5D=WIDM5&station%5B%5D=WLFM5&station%5B%5D=WRNM5&station%5B%5D=WRSM5&station%5B%5D=WRIM5&station%5B%5D=ZMBM5&&year1={input_year}&month1={input_month}&day1={input_day}&year2={input_year}&month2={input_month}&day2={input_day}&what=view&delim=comma"

# Read the data into a DataFrame
precip_data = pd.read_csv(url)

# Display the DataFrame
print(precip_data)

Enter the date (YYYY-MM-DD): 2024-01-01
     nwsli        date   time  high_F  low_F precip snow_inch snowd_inch
0    ALXM5  2024-01-01    NaN     NaN    NaN    NaN       NaN        NaN
1    ASTM5  2024-01-01  07 AM    31.0   19.0      0         0          0
2    BLHM5  2024-01-01    NaN     NaN    NaN    NaN       NaN        NaN
3    MPXM5  2024-01-01    NaN    24.0   20.0      0         0          T
4    KIMM5  2024-01-01  06 AM    23.0   19.0      0         0          T
..     ...         ...    ...     ...    ...    ...       ...        ...
186  MHNM5  2024-01-01    NaN     NaN    NaN    NaN       NaN        NaN
187  BDIM5  2024-01-01  07 AM     NaN    NaN    NaN       NaN        NaN
188  HSTM5  2024-01-01  05 AM    30.0   23.0      0         0          0
189  WSBM5  2024-01-01  07 AM     NaN    NaN      0         0          0
190  BRUM5  2024-01-01  08 AM    22.0   18.0      0         0          2

[191 rows x 8 columns]

In [13]:
# URL containing the CSV data
precip_data = pd.read_csv(url)

# Convert numeric columns to appropriate data types, handling errors
numeric_cols = ['high_F', 'low_F', 'precip', 'snow_inch', 'snowd_inch']
precip_data[numeric_cols] = precip_data[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Display the first few rows of the DataFrame
print(precip_data.head())

   nwsli        date   time  high_F  low_F  precip  snow_inch  snowd_inch
0  ALXM5  2024-01-01    NaN     NaN    NaN     NaN        NaN         NaN
1  ASTM5  2024-01-01  07 AM    31.0   19.0     0.0        0.0         0.0
2  BLHM5  2024-01-01    NaN     NaN    NaN     NaN        NaN         NaN
3  MPXM5  2024-01-01    NaN    24.0   20.0     0.0        0.0         NaN
4  KIMM5  2024-01-01  06 AM    23.0   19.0     0.0        0.0         NaN

In [14]:
#Grab URL for reporting station location
url = "https://mesonet.agron.iastate.edu/sites/networks.php?network=MN_COOP&format=csv&nohtml=on"

# Read the CSV data from the URL into a DataFrame
loc_df = pd.read_csv(url)

In [16]:
# Merge the "lat" and "lon" columns from df based on the matching "nwsli" and "stid" columns
precip_data = pd.merge(precip_data, loc_df[['stid', 'lat', 'lon']], how='left', left_on='nwsli', right_on='stid')

# Drop the redundant "stid" column
precip_data.drop(columns=['stid'], inplace=True)

# Display the updated precip_data DataFrame
print(precip_data)

     nwsli        date   time  high_F  ...  snow_inch  snowd_inch      lat      lon
0    ALXM5  2024-01-01    NaN     NaN  ...        NaN         NaN  45.8782 -95.3827
1    ASTM5  2024-01-01  07 AM    31.0  ...        0.0         0.0  43.6542 -92.9739
2    BLHM5  2024-01-01    NaN     NaN  ...        NaN         NaN  45.8608 -94.3600
3    MPXM5  2024-01-01    NaN    24.0  ...        0.0         NaN  44.8496 -93.5644
4    KIMM5  2024-01-01  06 AM    23.0  ...        0.0         NaN  45.3533 -94.3056
..     ...         ...    ...     ...  ...        ...         ...      ...      ...
186  MHNM5  2024-01-01    NaN     NaN  ...        NaN         NaN  47.3167 -95.9833
187  BDIM5  2024-01-01  07 AM     NaN  ...        NaN         NaN  44.6648 -94.8545
188  HSTM5  2024-01-01  05 AM    30.0  ...        0.0         0.0  44.7597 -92.8689
189  WSBM5  2024-01-01  07 AM     NaN  ...        0.0         0.0  44.3873 -92.0641
190  BRUM5  2024-01-01  08 AM    22.0  ...        0.0         2.0  46.2833 -92.5000

[191 rows x 10 columns]

In [17]:
# Calculate average temperature for each row
precip_data['avg_temp'] = (precip_data['high_F'] + precip_data['low_F']) / 2

# Display the updated DataFrame
precip_data

     nwsli        date   time  high_F  ...  snowd_inch      lat      lon  avg_temp
0    ALXM5  2024-01-01    NaN     NaN  ...         NaN  45.8782 -95.3827       NaN
1    ASTM5  2024-01-01  07 AM    31.0  ...         0.0  43.6542 -92.9739      25.0
2    BLHM5  2024-01-01    NaN     NaN  ...         NaN  45.8608 -94.3600       NaN
3    MPXM5  2024-01-01    NaN    24.0  ...         NaN  44.8496 -93.5644      22.0
4    KIMM5  2024-01-01  06 AM    23.0  ...         NaN  45.3533 -94.3056      21.0
..     ...         ...    ...     ...  ...         ...      ...      ...       ...
186  MHNM5  2024-01-01    NaN     NaN  ...         NaN  47.3167 -95.9833       NaN
187  BDIM5  2024-01-01  07 AM     NaN  ...         NaN  44.6648 -94.8545       NaN
188  HSTM5  2024-01-01  05 AM    30.0  ...         0.0  44.7597 -92.8689      26.5
189  WSBM5  2024-01-01  07 AM     NaN  ...         0.0  44.3873 -92.0641       NaN
190  BRUM5  2024-01-01  08 AM    22.0  ...         2.0  46.2833 -92.5000      20.0

[191 rows x 11 columns]

In [18]:
# Define constants for the Hargreaves method
constant = 0.0023  # Typical constant value

# Convert 'date' column to datetime object
precip_data['date'] = pd.to_datetime(precip_data['date'])

In [19]:
# Calculate ET0 using the Hargreaves method for each row
ET0_values = []
for index, row in precip_data.iterrows():
    avg_temperature = row['avg_temp']
    temperature_range = row['high_F'] - row['low_F']
    
    # Calculate the day of the year
    day_of_year = row['date'].dayofyear
    
    # Calculate ET0 using the Hargreaves method
    ET0 = constant * (avg_temperature + 17.8) * (temperature_range ** 0.5) * (1.0 + 0.033 * np.sin(np.deg2rad(360 * (day_of_year - 81) / 365)))
    
    ET0_values.append(ET0)

# Add the calculated ET0 values as a new column to the DataFrame
precip_data['ET'] = ET0_values

# Display the updated DataFrame
print(precip_data)

     nwsli       date   time  high_F  ...      lat      lon  avg_temp        ET
0    ALXM5 2024-01-01    NaN     NaN  ...  45.8782 -95.3827       NaN       NaN
1    ASTM5 2024-01-01  07 AM    31.0  ...  43.6542 -92.9739      25.0  0.329963
2    BLHM5 2024-01-01    NaN     NaN  ...  45.8608 -94.3600       NaN       NaN
3    MPXM5 2024-01-01    NaN    24.0  ...  44.8496 -93.5644      22.0  0.177151
4    KIMM5 2024-01-01  06 AM    23.0  ...  45.3533 -94.3056      21.0  0.172700
..     ...        ...    ...     ...  ...      ...      ...       ...       ...
186  MHNM5 2024-01-01    NaN     NaN  ...  47.3167 -95.9833       NaN       NaN
187  BDIM5 2024-01-01  07 AM     NaN  ...  44.6648 -94.8545       NaN       NaN
188  HSTM5 2024-01-01  05 AM    30.0  ...  44.7597 -92.8689      26.5  0.260846
189  WSBM5 2024-01-01  07 AM     NaN  ...  44.3873 -92.0641       NaN       NaN
190  BRUM5 2024-01-01  08 AM    22.0  ...  46.2833 -92.5000      20.0  0.168249

[191 rows x 12 columns]

In [21]:
# This converts the 'ET' column from imaginary into real numbers
precip_data['ET'] = precip_data['ET'].apply(lambda x: x.real)

In [41]:
# Calculate the total number of rows
total_rows = precip_data.shape[0]

# Calculate the number of null values in avg_temp and ET columns
null_avg_temp = precip_data['avg_temp'].isnull().sum()
null_ET = precip_data['ET'].isnull().sum()

# Calculate the percentage of null values
null_avg_temp_percentage = (null_avg_temp / total_rows) * 100
null_ET_percentage = (null_ET / total_rows) * 100

# Define the threshold for warning
threshold = 50

# Check if the percentage of null values exceeds the threshold for either column
if null_avg_temp_percentage > threshold or null_ET_percentage > threshold:
    print("Warning: The percentage of null values in either avg_temp or ET column exceeds 50%.")

In [44]:
#This does one more check to ensure the date for the data is correct
date_matches_input = (precip_data['date'] == input_date).all()

# If any entry does not match the input date, print a warning
if not date_matches_input:
    print("Warning: Not all entries in the date column match the input date.")

In [52]:
# Define the output feature class name
output_fc = 'ETPoints'

# Create a new feature class
arcpy.management.CreateFeatureclass(
    arcpy.env.workspace,
    output_fc,
    'POINT',
    spatial_reference=arcpy.SpatialReference(4326)  # WGS84 Geographic Coordinate System
)

# Check the data type of the 'ET' column in the DataFrame
et_dtype = precip_data['ET'].dtype

# Add field to store ET data, ensuring correct data type
if et_dtype == 'float64':
    arcpy.management.AddField(output_fc, 'ET', 'FLOAT')
else:
    arcpy.management.AddField(output_fc, 'ET', 'DOUBLE')

# Add 'date' and 'nwsli' fields
arcpy.management.AddField(output_fc, 'date', 'DATE')
arcpy.management.AddField(output_fc, 'nwsli', 'TEXT')

# Open an insert cursor
with arcpy.da.InsertCursor(output_fc, ['SHAPE@XY', 'ET', 'date', 'nwsli']) as cursor:
    # Iterate over each row in the DataFrame
    for index, row in precip_data.iterrows():
        # Extract lat, lon, ET, and nwsli values
        lat = row['lat']
        lon = row['lon']
        date = row['date']
        ET = row['ET']
        nwsli = row['nwsli']
        
        # Create a point geometry
        point = arcpy.Point(lon, lat)
        point_geometry = arcpy.PointGeometry(point)
        
        # Insert the point feature with the ET, date, and nwsli values
        cursor.insertRow([point_geometry, ET, date, nwsli])

print(f"Feature class '{output_fc}' created successfully.")

Feature class 'ETPoints' created successfully.

In [53]:
# In order to test our interpolations later, we will need to create a subset of this data and remove it from the feature layer
input_feature_layer = "ETPoints"

# We will save it as a separate feature layer
output_feature_layer = "Random_Selected_ETPoints"
output_feature_class = "Random_Selected_ETPoints"

# We first need to get the total count of features in the input feature layer
total_features_count = int(arcpy.GetCount_management(input_feature_layer).getOutput(0))

# The I will generate a list of 36 random indices
random_indices = random.sample(range(1, total_features_count + 1), 36)

# I will use a SQL expression to select the randomly chosen features
sql_expression = "OBJECTID IN ({})".format(','.join(map(str, random_indices)))

# Then I will create a new feature layer with the randomly selected features
arcpy.MakeFeatureLayer_management(input_feature_layer, output_feature_layer, sql_expression)

print("Randomly selected 36 features and created a new feature layer:", output_feature_layer)

# The I will save the selected features to a new feature class
arcpy.CopyFeatures_management(output_feature_layer, output_feature_class)
print("Saved the selected features to a new feature class:", output_feature_class)

Randomly selected 36 features and created a new feature layer: Random_Selected_ETPoints
Saved the selected features to a new feature class: Random_Selected_ETPoints

In [54]:
#This performs the inverse distance weighting
outIDW = Idw("ETPoints.shp", "ET")
outIDW.save(r"ET_IDW.tif")

RuntimeError: ERROR 010240: Could not save raster dataset to C:\Users\conno\OneDrive\Documents\ArcGIS\Projects\GIS 5572 Final\GIS 5572 Final.gdb\Idw_ETPoints2 with output format FGDBR.

In [36]:
#This performs the resampling of the IDW tif to reduce the number of points needed
arcpy.management.Resample(
    in_raster=r"Idw_ETPoints1",
    out_raster=r"Idw_ET_Resample",
    cell_size="0.1 0.1",
    resampling_type="NEAREST"
)

In [37]:
#This converts the raster to points
arcpy.conversion.RasterToPoint(
    in_raster=r"Idw_ET_Resample",
    out_point_features=r"Idw_ET_Point",
    raster_field="value"
)

In [57]:
#To test the model, this samples the data
arcpy.sa.Sample(
    in_rasters="Idw_ETPoints1",
    in_location_data="Random_Selected_ETPoints",
    out_table=r"Sample_Idw_ET",
    resampling_type="NEAREST",
    unique_id_field="OBJECTID",
    process_as_multidimensional="CURRENT_SLICE",
    acquisition_definition=None,
    statistics_type="",
    percentile_value=None,
    buffer_distance=None,
    layout="ROW_WISE",
    generate_feature_class="TABLE"
)
print("Sampling complete")

Sampling complete

In [59]:
# Next we will create a dataframe based on our randomly selected features from earlier
input_feature_class = "Random_Selected_ETPoints"

# We will first convert feature classes to a NumPy array
fields = ["OID@","nwsli", "ET"]
array = arcpy.da.FeatureClassToNumPyArray(input_feature_class, fields)

# Then convert the NumPy array to a dataframe
df_original = pd.DataFrame(array)

# Rename the OID@ field to ObjectID
df_original.rename(columns={"OID@": "OBJECTID"}, inplace=True)

# Then we will print the DataFrame to check it
print(df_original)

    OBJECTID  nwsli        ET
0          1  LSAM5  0.215479
1          2  HAWM5       NaN
2          3  STJM5  0.231405
3          4  IBLM5       NaN
4          5  ILGM5  0.306438
5          6  ITAM5  0.175667
6          7  GRDM5       NaN
7          8  LNCM5       NaN
8          9  GEOM5  0.363205
9         10  TCYM5  0.243181
10        11  LKWM5  0.290082
11        12  JDNM5  0.227868
12        13  CMBM5  0.195573
13        14  ATKM5       NaN
14        15  KLLM5       NaN
15        16  HLSM5       NaN
16        17  HKHM5       NaN
17        18  LSTM5       NaN
18        19  AXNM5       NaN
19        20  BWNM5  0.200549
20        21  CRLM5  0.249070
21        22  WMRM5       NaN
22        23  SPGM5       NaN
23        24  NYMM5  0.180644
24        25  ONMM5       NaN
25        26  WELM5  0.275742
26        27  WLDM5  0.222417
27        28  LUVM5       NaN
28        29  PIPM5  0.280101
29        30  WIDM5  0.309125
30        31  LKFM5  0.250530
31        32  STIM5       NaN
32        33  BKEM5       NaN
33        34  AITM5       NaN
34        35  WAAM5  0.315352
35        36  TETM5       NaN

In [58]:
# Now I will add the sampled interpolated data to the same dataframe
# That will be done by first making individual dataframes for each method
table_paths = [
    "Sample_Idw_ET",
]

dfs = []
for table_path in table_paths:
    array = arcpy.da.TableToNumPyArray(table_path, "*")
    df = pd.DataFrame(array)
    dfs.append(df)

# To check, let's print the dataframes
for i, df in enumerate(dfs):
    print(f"DataFrame {i+1} ({table_paths[i]}):\n{df}\n")

DataFrame 1 (Sample_Idw_ET):
    OBJECTID  Random_Selected_ETPoints  ...         Y  Idw_ETPoints1_Band_1
0          1                         1  ...  44.97830              0.215588
1          2                         2  ...  44.76220              0.401791
2          3                         3  ...  43.99070              0.231395
3          4                         4  ...  47.59360              0.225522
4          5                         5  ...  47.37000              0.306270
5          6                         6  ...  47.21670              0.175667
6          7                         7  ...  44.04630              0.219380
7          8                         8  ...  48.85830              0.216495
8          9                         9  ...  47.08000              0.361970
9         10                        10  ...  44.24000              0.243228
10        11                        11  ...  44.00000              0.290016
11        12                        12  ...  44.65000              0.227767
12        13                        13  ...  45.51670              0.195611
13        14                        14  ...  46.54021              0.210947
14        15                        15  ...  47.94000              0.206862
15        16                        16  ...  47.35360              0.265051
16        17                        17  ...  43.76372              0.255053
17        18                        18  ...  44.85610              0.205359
18        19                        19  ...  45.90000              0.214808
19        20                        20  ...  44.73350              0.200565
20        21                        21  ...  46.67000              0.248855
21        22                        22  ...  45.15510              0.255683
22        23                        23  ...  43.69330              0.295467
23        24                        24  ...  46.50920              0.180869
24        25                        25  ...  46.06800              0.178466
25        26                        26  ...  43.74620              0.275663
26        27                        27  ...  45.52310              0.222410
27        28                        28  ...  43.66580              0.281569
28        29                        29  ...  44.01390              0.280119
29        30                        30  ...  44.08750              0.309107
30        31                        31  ...  43.68330              0.250564
31        32                        32  ...  45.04540              0.252249
32        33                        33  ...  46.30470              0.278249
33        34                        34  ...  46.52570              0.208767
34        35                        35  ...  48.19530              0.315202
35        36                        36  ...  47.33900              0.302955

[36 rows x 5 columns]

In [60]:
# Iterate over each DataFrame in dfs list and merge with df_original
for df in dfs:
    # Perform the merge based on the OBJECTID column
    df_original = pd.merge(df_original, df, on='OBJECTID', how='left')

# Check the result
print(df_original)

    OBJECTID  nwsli        ET  ...         X         Y  Idw_ETPoints1_Band_1
0          1  LSAM5  0.215479  ... -93.24690  44.97830              0.215588
1          2  HAWM5       NaN  ... -95.42890  44.76220              0.401791
2          3  STJM5  0.231405  ... -94.61220  43.99070              0.231395
3          4  IBLM5       NaN  ... -91.65140  47.59360              0.225522
4          5  ILGM5  0.306438  ... -91.16570  47.37000              0.306270
5          6  ITAM5  0.175667  ... -95.20000  47.21670              0.175667
6          7  GRDM5       NaN  ... -94.19520  44.04630              0.219380
7          8  LNCM5       NaN  ... -96.80470  48.85830              0.216495
8          9  GEOM5  0.363205  ... -96.78000  47.08000              0.361970
9         10  TCYM5  0.243181  ... -95.63000  44.24000              0.243228
10        11  LKWM5  0.290082  ... -95.96000  44.00000              0.290016
11        12  JDNM5  0.227868  ... -93.62000  44.65000              0.227767
12        13  CMBM5  0.195573  ... -93.28330  45.51670              0.195611
13        14  ATKM5       NaN  ... -93.70704  46.54021              0.210947
14        15  KLLM5       NaN  ... -94.46000  47.94000              0.206862
15        16  HLSM5       NaN  ... -96.83310  47.35360              0.265051
16        17  HKHM5       NaN  ... -91.34814  43.76372              0.255053
17        18  LSTM5       NaN  ... -94.05070  44.85610              0.205359
18        19  AXNM5       NaN  ... -95.37000  45.90000              0.214808
19        20  BWNM5  0.200549  ... -94.34170  44.73350              0.200565
20        21  CRLM5  0.249070  ... -94.11000  46.67000              0.248855
21        22  WMRM5       NaN  ... -95.04210  45.15510              0.255683
22        23  SPGM5       NaN  ... -92.39250  43.69330              0.295467
23        24  NYMM5  0.180644  ... -95.37990  46.50920              0.180869
24        25  ONMM5       NaN  ... -93.66630  46.06800              0.178466
25        26  WELM5  0.275742  ... -93.73640  43.74620              0.275663
26        27  WLDM5  0.222417  ... -92.74890  45.52310              0.222410
27        28  LUVM5       NaN  ... -96.20220  43.66580              0.281569
28        29  PIPM5  0.280101  ... -96.32580  44.01390              0.280119
29        30  WIDM5  0.309125  ... -91.67030  44.08750              0.309107
30        31  LKFM5  0.250530  ... -95.18330  43.68330              0.250564
31        32  STIM5       NaN  ... -92.85220  45.04540              0.252249
32        33  BKEM5       NaN  ... -96.52170  46.30470              0.278249
33        34  AITM5       NaN  ... -93.66740  46.52570              0.208767
34        35  WAAM5  0.315352  ... -96.77590  48.19530              0.315202
35        36  TETM5       NaN  ... -91.19590  47.33900              0.302955

[36 rows x 7 columns]

In [61]:
df_original['Idw_ET_difference'] = df_original['ET'] - df_original['Idw_ETPoints1_Band_1']
# Print the DataFrame with the new 
df_original

    OBJECTID  nwsli  ...  Idw_ETPoints1_Band_1  Idw_ET_difference
0          1  LSAM5  ...              0.215588      -1.098663e-04
1          2  HAWM5  ...              0.401791                NaN
2          3  STJM5  ...              0.231395       9.953976e-06
3          4  IBLM5  ...              0.225522                NaN
4          5  ILGM5  ...              0.306270       1.680255e-04
5          6  ITAM5  ...              0.175667       3.278255e-07
6          7  GRDM5  ...              0.219380                NaN
7          8  LNCM5  ...              0.216495                NaN
8          9  GEOM5  ...              0.361970       1.234919e-03
9         10  TCYM5  ...              0.243228      -4.689395e-05
10        11  LKWM5  ...              0.290016       6.547570e-05
11        12  JDNM5  ...              0.227767       1.006126e-04
12        13  CMBM5  ...              0.195611      -3.790855e-05
13        14  ATKM5  ...              0.210947                NaN
14        15  KLLM5  ...              0.206862                NaN
15        16  HLSM5  ...              0.265051                NaN
16        17  HKHM5  ...              0.255053                NaN
17        18  LSTM5  ...              0.205359                NaN
18        19  AXNM5  ...              0.214808                NaN
19        20  BWNM5  ...              0.200565      -1.575053e-05
20        21  CRLM5  ...              0.248855       2.147257e-04
21        22  WMRM5  ...              0.255683                NaN
22        23  SPGM5  ...              0.295467                NaN
23        24  NYMM5  ...              0.180869      -2.256483e-04
24        25  ONMM5  ...              0.178466                NaN
25        26  WELM5  ...              0.275663       7.858872e-05
26        27  WLDM5  ...              0.222410       6.392598e-06
27        28  LUVM5  ...              0.281569                NaN
28        29  PIPM5  ...              0.280119      -1.856685e-05
29        30  WIDM5  ...              0.309107       1.788139e-05
30        31  LKFM5  ...              0.250564      -3.412366e-05
31        32  STIM5  ...              0.252249                NaN
32        33  BKEM5  ...              0.278249                NaN
33        34  AITM5  ...              0.208767                NaN
34        35  WAAM5  ...              0.315202       1.500547e-04
35        36  TETM5  ...              0.302955                NaN

[36 rows x 8 columns]

In [63]:
idw_mean = df_original['Idw_ET_difference'].mean()

# Then use that to calculate RMSE for each method
idw_rmse = np.sqrt(np.mean(df_original['Idw_ET_difference']**2))


# Then we create a dictionary to hold the results
accuracy_results = {
    'Method': ['IDW'],
    'Mean': [idw_mean],
    'RMSE': [idw_rmse]
}

# Then we can create DataFrame from the dictionary
accuracy_df = pd.DataFrame(accuracy_results)
print(accuracy_df)

  Method      Mean      RMSE
0    IDW  0.000087  0.000308

In [ ]:
#This will export the IDW points to a PostGIS database
arcpy.conversion.ExportFeatures(
    in_features="Idw_ET_Point",
    out_features=###PUT POSTGIS DATABASE CONNECTION HERE
    where_clause="",
    use_field_alias_as_name="NOT_USE_ALIAS",
    field_mapping='pointid "pointid" true true false 4 Long 0 0,First,#,Idw_Temper_Point,pointid,-1,-1;grid_code "grid_code" true true false 4 Float 0 0,First,#,Idw_Temper_Point,grid_code,-1,-1',
    sort_field=None
)
print("Export complete")